*{
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html, body {
	height : 100%;
	margin : 0;
}
nav{
	display : inline-block;
	width : 100%;
	height : 5rem;
	background-color: #1c1b43;
	float : left;
	color : white;
}

nav span#app-name {
	font-size: 1.5rem;
	line-height: 5rem;
	float : left;
	margin-left : 2rem;
}

nav section {
	float :right;
	display: inline-block;
	line-height: 100%;
	margin-left: 2rem;

}

nav section span{
	font-size: 1rem;
	line-height: 5rem;
	display: :inline-block;
	margin-right: 2rem;
}

nav section span a{
	color : white;
	text-decoration: none;
}

aside{
	margin-left : 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.pinimg.com/originals/c2/a9/22/c2a922137902261b3e6de138cd6091f3.jpg");
	width : 39%;
	height : 40rem;
	float : left;
	display : inline-block;
	color : white;
}

aside h1{
	font-size : 1rem;
	font-weight : normal;
	padding-top : 5%;
	padding-left : 5%;
}

aside h2{
	font-size : 1rem;
	font-weight : normal;
	padding-top : 5%;
	padding-left : 5%;
}

aside p{
	font-size : 1rem;
	font-weight : normal;
	padding-top : 5%;
	padding-left : 5%;
	padding-right : 5%;
}

aside img{
	border-radius: 50%;
	height : auto;
	width : 10rem;
	display : block;
	margin-right: auto;
	margin-left : auto;
	margin-top : 4rem;
	margin-bottom: 4rem;
}

main{
	display : inline-block;
	background-color: #76768e;
	width : 61%;
	height : 40rem;
	margin-right: 0%;
	float-left;
	color : white;
}